<h1><%= @pet.name %></h1>
<ul>
  <li><p>Adresse : <%= @pet.address %></p></li>
  <li><p>Animal : <%= @pet.species.capitalize %></p></li>
</ul>

<%= link_to 'Modifier', edit_pet_path(@pet), class: 'btn btn-primary' %>
<%= link_to 'Supprimer', pet_path(@pet), method: :delete, class: 'btn btn-danger' %>
<%= link_to 'Retour à la liste', pets_path, class: 'btn btn-success' %>
